@import '../../styles/variables/index'

.portfolio

    &__title
        margin-bottom: $base-indent

    &__header
        margin-bottom: $base-indent
        padding: $base-indent

        box-shadow: $shadow-default
        background-color: $color-background-white

        &-title
            font-size: $font-size-sm

            color: #999
